# Theme:XP EDITED FOR Y1 
# Version:1.0 (26 FEB 2026)
# Device: iPod Video/Classic, ADAPTED for INNIOASIS Y1
# License: CC-BY-SA
# Creator: VB, EDITED BY LTAPPLESEED
#
#
# Credits to other creators:
# This theme wouldn't have been possible without the earlier work of:
# creators of ipodmod3blk (K4sum1), ipodmod3blkfixed (Paul Sauro),
# adwaitapod (evan Dook), iRetro (J Donsen), iPod reFresh (Ciprian Dragu)
# For the battery, hold, and disk access icons, credits to K4sum1
# For the concept, credits to Microsoft.. but everyone already knows this lol
# Go listen to Syko, Gangsta Nutt, F.T.S. and Sarkastik, who are my fav artists from my home state of Washington who I believe deserve a shoutout!
# For suggestions/requests/other inquiries, dm me on Reddit: u/suzdali
#
# NOTES FROM LTAPPLESEED: 
# Please look at the credits above!! I'm simply editing this theme, created by u/suzdali, AKA "VB" in this document. 
# I simply just wanted a theme better suited to my needs. The OG theme is epic, and felt worth the effort to edit <3 
# The fonts and colors changed were for my own accessibility as a person with frankly horrible vision, the original font used is 20-WINDOWS-XP-TAHOMA. 
# If you have any questions, please reach out to me on reddit USERNAME ON REDDIT: u/bugsoup13, I am also on github as @LTAppleseed. 

sbs: /.rockbox/wps/XP.sbs
wps: /.rockbox/wps/XP.wps
font: /.rockbox/fonts/20-windows-xp-tahoma.fnt

# Solid Select (remove tags for this option, it's color matched to the select color of the icons)
#selector type: bar (color)
#foreground color: ffffff
#background color: 292829
#line selector start color: 005098
#line selector text color: ffffff

# Gradient Select
selector type: bar (gradient)
foreground color: ffffff
background color: 292829
line selector start color: 3884e0
line selector end color: 2860d8
line selector text color: ffffff


show icons: off
ui viewport: -
backdrop: -
#------ User Config Settings ------#
#-- Scroll Bar Toggle --#
# Options: Off, Left, Right.
scrollbar: off
#
#-- Player Secondary Text Toggle --#
off: Switch between Album and Artist names. <-- Default
# top: Show only Album name.
# bottom: Show only Artist name.
#
#-- Album Corners Toggle --#
 graphic: Rounded Corners. <-- Default
numeric: Square Corners.
volume display: graphic
#
#
#-- Experimental Custom Quickscreen --#
# Remove the # from the following to activate Custom Quickscreen.
qs top: brightness
qs bottom: brightness
qs left: shuffle
qs right: repeat
#
#-- Smooth Scrolling --#
# Remove the # from the following to turn on smooth scrolling text.
#scroll speed: 14
#scroll delay: 1500
#scroll step: 1


